[submodule "sas_clock"]
	path = sas_clock
	url = git@github.com:SmartArmStack/sas_clock.git
[submodule "sas_datalogger"]
	path = sas_datalogger
	url = git@github.com:SmartArmStack/sas_datalogger.git
[submodule "sas_robot_driver"]
	path = sas_robot_driver
	url = git@github.com:SmartArmStack/sas_robot_driver.git
[submodule "sas_robot_driver_denso"]
	path = sas_robot_driver_denso
	url = git@github.com:SmartArmStack/sas_robot_driver_denso.git
[submodule "sas_robot_kinematics"]
	path = sas_robot_kinematics
	url = git@github.com:SmartArmStack/sas_robot_kinematics.git
[submodule "sas_conversions"]
	path = sas_conversions
	url = git@github.com:SmartArmStack/sas_conversions.git
[submodule "sas_common"]
	path = sas_common
	url = git@github.com:SmartArmStack/sas_common.git
